@import '../vendor/css/normalize.css@8.0.1/index.css';
/* @import '../vendor/css/reset@2.0.0/index.css'; */
@import '../std/css/unstyled-links@0.0.0/index.css';
@import '../std/css/universal-box-sizing@0.0.0/index.css';
/* @import '../std/css/disable-interactivity@0.0.0/index.css'; */
@import './colors.css';
@import './sizes.css';
@import './fonts.css';
@import './components/ul-menu.css';
html {
  /* Section: Positioning */
  /* Section: Display & Box Model */
  padding: 0;
  margin: 0;
  /* Section: Color */
  color: var(--color);
  background-color: var(--bg-color);
  /* Section: Text */
  font-family: var(--font-family);
  /* Section: Other */
}

body {
  margin: var(--margin);
  padding: var(--padding);
}
