@import '../vendor/normalize.css@8.0.1/index.css';
/* @import '../vendor/reset@2.0.0/index.css'; */
@import './colors.css';
@import './sizes.css';
@import './fonts.css';

html {
  /* colors */
  color: var(--color);
  background-color: var(--bg-color);
  /* spacing */
  padding: 0;
  margin: 0;
  /* text */
  font-family: var(--font-family);
}

body {
  margin: var(--margin);
  padding: var(--padding);
}

a {
  color: inherit;
  text-decoration: inherit;
}


.ul-menu {
  display: flex;
  list-style: none;
  padding: 0;

}

.ul-menu > li {
  padding: inherit;
  margin: 0 8px;
}

.ul-menu > li > a {
  display: inline-grid;
  padding: 4px 40px;
  border: 1px solid var(--color);
  border-radius: 4px;
  place-items: center;
}

