.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 16px;
}
.card {
  display: flex;
  flex-direction: column;
  min-height: 128px;
  width: 128px;
  justify-content: space-between;
}
.card main {
  flex: 1 1 auto;
}

.cards-alt {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  align-items: center;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
  gap: 16px;
}

.card-alt {
  display: flex;
  align-self: start;
  grid-template-columns: 64px auto;
}

.card-alt:nth-child(2n) {
  flex-direction: row-reverse;
}

.card-alt > *:last-child {
  flex: 1 1 auto;
}

@media (orientation: landscape) {
  .cards-alt {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: max-content;
  }
  .card-alt:nth-child(2n) {
    flex-direction: row;
  }
}
