@import "./color.css";
@import "./font.css";
@import "./space.css";
@import "./animated-logo.css";
@import "./widget.css";
@import "./header.css";
@import "./nav-list.css";
@import "./footer.css";
@import "./section.css";
@import "./links.css";
@import "./cards.css";
@import "./hero.css";
@import "./projects.css";
/* *{
  border: 1px dashed #0b51b7 !important;
} */
* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  width: 100vw;
  background-color: var(--background-2);
  color: var(--text-2);
  font-family: var(--font-family);
}

body {
}
