.js-background {
  --background-canvas-arg: { "color":"cyan",
      "multiplier":0.24,
      "pad":30,
      "slant": 20 };
  --background-canvas: (ctx, geom, properties) => {
    const arg = JSON.parse(properties.get('--background-canvas-arg').toString());

    const color = arg.color || 'red';
    const multiplier = arg.multiplier || 1;
    const pad = arg.pad || 0;
    const slant = arg.slant || 0;

    ctx.moveTo(0, 0);
    ctx.lineTo(pad + (geom.width - slant - pad) * multiplier, 0);
    ctx.lineTo(pad + (geom.width - slant - pad) * multiplier + slant, geom.height);
    ctx.lineTo(0, geom.height);
    ctx.fillStyle = color;
    ctx.fill();
  };
  background: paint(background-canvas);
}
.js-background:hover {
  --background-canvas-arg: { "color":"cyan", "multiplier":1, "pad":30, "slant": 20 };;
}