@import './colors.css';
@import './sizes.css';
@import './fonts.css';
@import './components/ul-menu.css';
html {
  /* Section: Positioning */
  /* Section: Display & Box Model */
  padding: 0;
  margin: 0;
  /* Section: Color */
  color: var(--color);
  background-color: var(--bg-color);
  /* Section: Text */
  font-family: var(--font-family);
  /* Section: Other */
}

html, body {
  padding: 0;
  margin: 0;
}

a[download]::after {
  content: '⇣';
}
a[target=_blank]::after {
  content: '⤏';
}

.holy-grail {
  display: grid;
  grid-template-rows: min-content min-content 1fr min-content;
  height: 100vh;
}
.holy-grail > * {
  padding: var(--padding);
  gap: var(--margin);
  border: 1px solid var(--color);
}
.holy-grail > aside, .holy-grail > main {
  overflow-y: scroll;
}
