.hero > main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media (orientation: landscape) {
  .hero > main {
    flex-direction: row-reverse;
  }
}
.hero > main > * {
  align-self: center;
  justify-self: center;
}
