.animated-logo {
  width: 256px;
  height: 256px;
  width: 75vw;
  height: 75vw;
  /* filter: drop-shadow(5px 5px 5px #00000080); */
}
@media (orientation: landscape) {
  .animated-logo {
    width: 512px;
    height: 512px;
    width: 40vw;
    height: 40vw;
  }
}

.animated-logo path {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--text-5);
  stroke-width: 0.5;
}
