.button {
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--bgcolor);
  border: 1px solid var(--color);
  box-shadow: 2px 2px 4px var(--darkness);
}
.button.button-inverted {
  color: var(--bgcolor);
  background-color: var(--color);
  border: 1px solid var(--bgcolor);
}