.gallery{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-content: center;
}
.gallery > *{
  flex: 0 1 var(--card-width, 300px);
}