.mouse-follower {
  --size: 75px;
  border-radius: 50%;
  position: absolute;
  border: 1px solid var(--color);
  border-top: none;
  box-sizing: border-box;
  width: calc(var(--mouse-magnorm) * var(--size));
  height: calc(var(--mouse-magnorm) * var(--size));
  transition: 2s;
  transition-timing-function: var(--ttf-bounce);
  transform: rotate(calc(var(--mouse-ang) * 1rad));
  left: calc(var(--mouse-magnorm) / 2 * var(--size) * -1);
  top: calc(var(--mouse-magnorm) / 2 * var(--size) * -1);
}
.mouse-follower > * {
  display: grid;
  text-align: center;
}
.mouse-follower > *::before {
  content: "⇡";
  visibility: var(--mouse-up-visibility, hidden);
}
