.glowey-fill-container > *,
.glowey-fill {
  fill-opacity: 0.0625;
  fill: var(--text-5);
  transition: fill-opacity 0.5s ease-in-out;
  cursor: pointer;
}
.glowey-fill-container > *:hover,
.glowey-fill:hover {
  transition: fill-opacity 2s ease-in-out;
  fill-opacity: 0.5;
}

.glowey-background-container > *,
.glowey-background {
  transition: background-color 1s ease-in-out;
  background-color: var(--background-5);
  cursor: pointer;
}
.glowey-background-container > *:hover,
.glowey-background:hover {
  transition: background-color 1.5s ease-in-out;
  background-color: var(--background-1);
}
