/*
  A main can appear anywhere on the page.
*/
main {
  --header-padding: 32px;
  padding: var(--header-padding);
  padding-top: calc(var(--header-height) + var(--header-padding));
  padding-bottom: calc(var(--footer-height) + var(--header-padding));
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/*
  Direct children will expand to fit
*/
main > * {
  flex: 0 1 auto;
}
/*
  ...but a "section" direct child will take precientence
*/
main > header {
  font-size: 3rem;
  color: var(--text-5);
}

main > section {
  flex: 1 1 auto;
}

main div {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}
main div section {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* main.hero variation */
main.hero > section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media (orientation: landscape) {
  main.hero > section {
    flex-direction: row-reverse;
  }
}
main.hero > section > * {
  align-self: center;
  justify-self: center;
}

/* main.me variation */

main.me > section {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  align-items: center;
  justify-content: center;
  padding-left: 6.25%;
  padding-right: 6.25%;
}

@media (orientation: landscape) {
  main.me > section {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: initial;
  }
}

main.me div {
  flex-direction: column;
  align-self: start;
  min-height: unset;
  width: unset;
  grid-template-columns: 64px auto;
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  width: 75vw;
}

main.me div > *:last-child {
  flex: 1 1 auto;
}

@media (orientation: landscape) {
  main.me div {
    flex-direction: row;
    width: unset;
  }
  main.me div:nth-child(2n) {
    flex-direction: row-reverse;
  }
}

main.me div > span {
  padding: 8px;
}

main.me div header img {
  width: 32px;
  height: 32px;
  transition: filter 0.5s ease-in-out;
  cursor: pointer;
}

main.me div:hover header img {
  filter: sepia(100);
}

main.me div section {
  padding: 16px;
  border-radius: 8px;
}

/* main.projects */
main.projects > section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 16px;
}
main.projects div {
  border: 2px solid var(--text-1);
  background-size: cover;
  width: 256px;
  height: 192px;
}
main.projects div :is(header, footer) {
  padding: 4px;
  backdrop-filter: blur(2px);
}
main.projects div header {
  background-image: linear-gradient(to bottom, var(--background-5), #00000000);
}
main.projects div footer {
  background-image: linear-gradient(to top, var(--background-5), #00000000);
}

main.blog-preview {
  min-height: initial;
}

main.blog-preview img {
  width: 192px;
}

@media (orientation: landscape) {
  main.blog-preview {
    min-height: 0;
  }
}

main.blog > section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 64px;
}
