---
import Main from "../../../../components/Main.astro";
---
<Main>
  <section>
  <bosdy>
   <script type="module">
      import tester from '/std/js/tester@0.0.0/index.js';
      console.log({tester});
    </script>
    Tester
  </section>
</Main>