---
import * as SETTINGS from '../SETTINGS.mjs';
import DEFAULTS from '../SETTINGS.mjs';
// Todo: "import DEFAULTS, * as SETTINGS from '../SETTINGS.mjs'";
// causes SETTINGS to reset w/o awarness of the process.env variables.
---
<!DOCTYPE html>
<html>
  <body>
    <table border="1">
      <tr>
        <th></th>
        <th>DEFAULT</th>
        <th>ENV</th>
        <th>FINAL</th>
      </tr>
      {Object.keys(DEFAULTS).map((key) => (
        <tr>
          <td>{key}</td>
          <td>{DEFAULTS[key]}</td>
          <td>{process.env[key]}</td>
          <td>{SETTINGS[key]}</td>
        </tr>
      ))}
    </table>
  </body>
</html>
