#me main {
  gap: 16px;
}

#me > main {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  align-items: center;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
}

@media (orientation: landscape) {
  #me > main {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: initial;
  }
}

#me div {
  flex-direction: column;
  align-self: start;
  min-height: unset;
  width: unset;
  grid-template-columns: 64px auto;
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  width: 75vw;
}

#me div > *:last-child {
  flex: 1 1 auto;
}

@media (orientation: landscape) {
  #me div {
    flex-direction: row;
    width: unset;
  }
  #me div:nth-child(2n) {
    flex-direction: row-reverse;
  }
}

#me div span img {
  transition: filter 0.5s ease-in-out;
  cursor: pointer;
}

#me div:nth-child(2n):hover span img {
  filter: sepia(100);
}

#me div:nth-child(3n):hover span img {
  filter: invert(100%);
}

#me div:nth-child(4n):hover span img {
  filter: opacity(50%) blur(1px);
}

#me div > span {
  padding: 8px;
}

#me div > span > img {
  width: 32px;
  height: 32px;
}

#me div main {
  padding: 16px;
  border-radius: 8px;
}
