---
import { TAG_MANAGER_ID } from '../SETTINGS.mjs';
import GDPRRequest from './GDPRRequest.astro';
import TagManagerBody from './TagManagerBody.astro';
const links = [{
  name:"twitter",
  href:"https://twitter.com/iamjohnhenry"
},
{
  name:"github",
  href:"https://github.com/johnhenry"
}]
---
<footer>
  <ul class="horizontal-menu">
    {links.map(({name, href}) => (<li>
      <a href="{href}" target="_blank">{name}</a>
    </li>))}
    <li><a href="#" target="_blank">© {new Date().getFullYear()} John Henry</a></li>
  </ul>
</footer>
{TAG_MANAGER_ID ? <GDPRRequest /> : ''}
{TAG_MANAGER_ID ? <TagManagerBody tmid="{TAG_MANAGER_ID}" /> : ''}