<header>
  <span class="mouse-follower"></span>
  <h1><a href="/#main">john henry</a></h1>
  <ul class="horizontal-menu">
    <li><a href="/#about">About</a></li>
    <li><a href="/#projects">Projects</a></li>
  </ul>
</header>
