---
import HeadElement from "./Head.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
const {links = []} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <HeadElement />
  <body class="fullscreen-sections-with-header-and-footer">
    <Header links={links} />
    <slot />
    <Footer />
    <span class="mouse-chaser" style="--mouse-z: var(--header-z)"></span>
  </body>
</html>
