---
import sortPosts from '../../../utils/sort-posts.mjs';
export function getStaticPaths() {

const { byTag } =
    sortPosts(
      Astro
      .fetchContent('../posts/*.md'));
    return byTag.map(([tag, posts]) => ({
      params: { tag },
      props: {
        posts,
        tag
      }
    }));
}
const {tag} = Astro.request.params;
---
<body><h1>{tag}</h1></body>