div {
  display: flex;
  flex-direction: column;
  min-height: 128px;
  width: 128px;
  justify-content: space-between;
}
div main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

div.alt:nth-child(2n) {
  flex-direction: row-reverse;
}

div.alt > *:last-child {
  flex: 1 1 auto;
}

@media (orientation: landscape) {
  div.alt:nth-child(2n) {
    flex-direction: row;
  }
}
