body > header {
  height: var(--header-height);
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: var(--background-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

body > header a {
  color: var(--text-1);
}

body > header a:visited {
  color: var(--text-1);
}

body > header a:hover,
body > header a:visited:hover {
  color: var(--text-5-h);
}

body > header > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1.2rem;
}
