.fullscreen-sections-with-header-and-footer {
  --header-z: 3;
  /* position: relative; */
}
.fullscreen-sections-with-header-and-footer > header {
  background-color: var(--bgcolor);
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100vw;
  display: flex;
  padding: 16px;
  z-index: var(--header-z);
}
.fullscreen-sections-with-header-and-footer
  > header
  > :is(h1, h2, h3, h4, h5, h6) {
  width: 100%;
  text-align: left;
  flex: 0 1 auto;
  display: inline;
  margin: 0;
}

.fullscreen-sections-with-header-and-footer > header > *:last-child {
  flex: 1 0 auto;
}

.fullscreen-sections-with-header-and-footer > footer {
  background-color: var(--bgcolor);
  padding: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  height: var(--footer-height);
  width: 100vw;
  z-index: var(--header-z);
}

.fullscreen-sections-with-header-and-footer section {
  padding: 16px;
  min-height: 100vh;
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.fullscreen-sections-with-header-and-footer
  > section
  > :is(h1, h2, h3, h4, h5, h6) {
  flex: 0 1 auto;
  width: 100%;
}

.fullscreen-sections-with-header-and-footer > section > *:last-child {
  width: 100%;
  flex-grow: 1;
}
