a[download]::after {
  display: inline-block;
  content: " ⇣";
  transition: 0.25s;
}
a[download]:hover::after {
  transform: rotate(-45deg);
  transition: 0.5s;
}

a[target="_blank"]::after {
  display: inline-block;
  content: " ⤏";
  transition: 0.25s;
}
a[target="_blank"]:hover::after {
  transform: rotate(45deg);
  transition: 0.5s;
}
